<div class="animated fadeIn">


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Events
        </div>
        <div class="card-body">
          <div class="row">

            <!--/.col-->
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="name"></label>
                    <input type="text" class="form-control" [(ngModel)]="titleFilter" id="name" placeholder="By Name">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="venue"></label>
                    <input type="text" class="form-control" [(ngModel)]="venueFilter" id="venue" placeholder="By venue">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="website"></label>
                    <input type="text" class="form-control" [(ngModel)]="websiteFilter" id="website"
                      placeholder="By website">
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="website"></label>
                    <button type="button" (click)="filter()" class="btn btn-block btn-primary">Filter</button>
                  </div>
                </div>

                <!--/.col-->

              </div>
              <!--/.row-->
              <hr class="mt-0">

            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <br>
          <table id=myTable class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>

                <th class="th-class" (click)="sortTable(0)">Name</th>
                <th class="th-class" (click)="sortTable(1)">Website</th>
                <th class="th-class" (click)="sortTable(2)">Venue</th>
                <th class="th-class" (click)="sortTable(3)">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData">

                <td>
                  <div>{{row.title}}</div>
                </td>

                <td>
                  <div>{{row.websiteTitle}}</div>
                </td>
                <td>
                  <div>{{row.venue}}</div>
                </td>
                <td>
                  <div>{{row.date}}</div>
                </td>

              </tr>

            </tbody>
          </table>
          <br>
          <ul class="pagination">
            <li class="page-item" (click)="prev()"><a class="page-link" href="#">Prev</a></li>
            <li [className]="(page+1)==currentPage?'page-item active':'page-item'" *ngFor="let page of getPages()"
              (click)="changePage(page, $event)">
              <a class="page-link" href="#">{{page+1}}</a>
            </li>
            <li class="page-item" (click)="next()"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>